build/
.DS_Store
chico.properties
WebContent/template/
WebContent/WEB-INF/lib
target/
.sonar/
scripts/send.csv
*.r
tmp/
src/main/resources/development.properties
src/main/resources/production.properties

