* {
    box-sizing:border-box;
}

body {
    min-height: 300px;
    background: url(../img/bg.jpg) 0 0 repeat;
}

nav {
    margin: auto;
    height: 50px;
}

nav h3 {
    float: left;
}

.menu {
    float: left;
}

.sub-menu {
    display:none;
}

.menu:hover .sub-menu{
    display:block;
}


